blinker==1.9.0
click==8.2.1
Flask==3.1.1
Flask-JSONRPC==3.0.1
grascii==0.4.1
grascii_rpc @ git+https://github.com/grascii/rpc.git@24436d09e0f0f498534a072f0f79d98525782340
itsdangerous==2.2.0
Jinja2==3.1.6
lark==1.2.2
MarkupSafe==3.0.2
mypy_extensions==1.1.0
numpy==2.2.6
scipy==1.15.3
svgpathtools==1.7.1
svgwrite==1.4.3
typeguard==2.13.3
typing-inspect==0.9.0
typing_extensions==4.14.1
Werkzeug==3.1.3
